
.ql-snow.ql-toolbar button.ql-active, 
.ql-snow .ql-toolbar button.ql-active{
  color: red !important;
  background-color: #d1d0d0;
}
//works
.ql-snow.ql-toolbar button:hover, 
.ql-snow .ql-toolbar button:hover {
  background-color: rgb(158, 158, 158) !important;
}
.quill:hover {
  border: 2px solid rgba(12, 66, 245, 0.7) !important;
}

.ql-snow.ql-toolbar button svg, .ql-snow .ql-toolbar button svg{
  color: yellow !important;
}
//works
.ql-stroke {
  stroke: rgb(129, 128, 128) !important;
  stroke-width: 1;
  
}
//works
.ql-toolbar {
  border-bottom: 1px solid rgb(235, 232, 232)!important;
}
#focus-class {
  border: 2px solid rgba(21, 73, 241, 0.7);
}
// works
.quill{
  height: 142px;
  width: 80%;
  border: 0 solid rgb(235, 232, 232);
  border-radius: 2px;
  margin: 0 0 2px 0;

}
.ql-container{
  height: 100px;
  margin: 0 0 40px 0;

}
.editor {
  &__editor-form {
    height: 200px;
    width: 100%;
    margin: 0 0 40px 0;
  }
  &__btn-wrap {
    margin: 5px 0 10px 0;
  }
  &__btn-size {
    margin: 0 10px 20px 0px;
  }
  &__post-btn {
    box-sizing: border-box;
    height: 29px;
    width: 70px;
    border: 1px solid #d4d4d4;
    border-radius: 1px;
    background-color: #ffffff;
    color: #999999;
    font-family: 'DIN Pro';
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    margin: 20px 0 20px 0;
    cursor: pointer;

    &--active {
      border: none;
      background-color: #3359db;
      color: white;
    }
  }
}
